// for Buddyboss theme
.site-content:not(.maintenance-content) {
  padding: 0 !important;
}
.container {
  padding: 0 !important;
}
.bb-grid {
  margin: 0px !important;
  padding: 0px !important;
}

.bb-grid-cell:not(.no-gutter) {
  padding: 0px !important;
}

// END Buddyboss theme

.container-pf {
  max-width: 1100px;
  margin: auto;
  padding: 0 16px;
  position: relative;
}

.main-title-large {
  margin: 10px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  @include atBig {
    font-size: 32px;
    line-height: 38px;
  }
}

.title-medium {
  margin: 15px 0;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: $mainBlue;
  @include atBig {
    text-align: start;
    font-size: 35px;
  }
}

.container--narrow {
  max-width: 960px;
}

.section-break {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2.5rem 0;
}

.divider {
  position: relative;
  margin: 40px 0;
  height: 5px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  background-color: $mainBlue;
}

.div-dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 28px;
  height: 28px;
  background-color: #e63946;
  border: 2px solid #1d3557;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px white,
    0 0 0 4px white;
}

.p-top-small {
  padding-top: 1rem;
}
.p-top-large {
  padding-top: 1.6rem;
}
.p-bottom-large {
  padding-bottom: 1.6rem;
}

@include atBig {
  .p-top-large {
    padding-top: 3.5rem;
  }
  .p-bottom-large {
    padding-bottom: 3.5rem;
  }
}

.no-margin {
  margin: 0;
}
.nu {
  text-decoration: none;
}
.nu:hover {
  text-decoration: underline;
}

.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}

.t-small {
  font-size: 0.85rem;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.push-right {
  margin-right: 20px;
}

.hide {
  display: none !important;
}

@include atBig {
  .hide-large {
    display: none;
  }
}

@include atSmall {
  .hide-mobile {
    display: none;
  }
}

.btn {
  background-color: $mainBlue;
  padding: 5px 50px;
}

.strikethrough {
  text-decoration-line: line-through;
  text-decoration-color: $mainBlue; /* Change as needed */
}
