.activity-template-default {
  @include atBig {
    background-color: rgb(240 241 245);
    background-image: linear-gradient(rgb(210 213 219) 1px, transparent 1px),
      linear-gradient(to right, rgb(210 213 219) 1px, rgb(240 241 245) 1px);
    background-size: 20px 20px;
  }
}

.single-activity-container {
  max-width: 1000px;
  margin: auto;

  .top-navbar {
    max-width: 950px;
    margin: auto;
    display: flex;
    padding: 5px 8px;
    justify-content: space-between;

    @include atBig {
      padding: 12px 0px;
    }

    .nav-button {
      color: $mainBlue;
      background: white;
      border: solid 3px $mainBlue;
      box-shadow: 5px 5px $mainBlue;
      border-radius: 5px;
      padding: 5px 20px;
      font-size: 20px;
      font-weight: 600;
    }
    .go-back {
      margin-right: 10px;
      font-weight: bold;
    }
  }

  .activity-content {
    background-color: white;
    max-width: 950px;
    padding: 18px 12px 40px 12px;
    display: 10px;
    h1,
    h2 {
      color: $mainBlue;
    }

    .activity-instructions {
      box-sizing: content-box;
      position: relative;
      border-radius: 5px;
      margin: 25px 0px 40px 0px;
      padding: 20px 18px 20px 22px;
      min-height: auto;
      background: #d6f2f3;
    }
    .activity-meta {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;

      .estimated-time {
        background-color: white;
        text-align: center;
        border-radius: 5px;
        color: $mediumBlue;
        padding: 5px 20px 5px 20px;
        border: 2px solid $mediumBlue;
      }
      .category {
        background-color: $mainRed;
        text-align: center;
        border-radius: 5px;
        color: white;
        padding: 5px 20px 5px 20px;
      }

      // .copy-link{}
    }

    @include atBig {
      padding: 40px 50px 70px;
      margin: 10px auto 80px;
      border: 4px solid $mainBlue;
      border-radius: 5px;
      box-shadow: 7px 7px $mainBlue;
      a {
        text-decoration: none;
      }
      .save-done-button {
        transform: scale(1.5);
      }

      .one-checkbox-wrapper label {
        transform: scale(1.5);
      }
    }

    .title-banner {
      margin: 0 -12px 15px -12px;
      padding: 5px;
      text-align: center;
      background-color: $mainBlue;
      text-decoration: white;
      h1 {
        margin: 5px;
      }

      @include atBig {
        text-align: center;
        margin: 50px -50px 50px -50px;
      }
      h1 {
        color: white;
        margin: 10px;
      }
    }
    .top-activity {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      align-items: center;
      .level-activity {
        background-color: $mainWhite;
        text-align: center;
        border-radius: 5px;
        font-size: 19px;
        font-weight: 700;
        color: $mediumBlue;
        padding: 14px 30px;
        border: 2px solid $mediumBlue;
        box-shadow: 5px 5px $mediumBlue;

        @include atBig {
          font-size: 28px;
        }
      }
      .save-done-button {
        margin-right: 15px;
        display: flex;
        justify-content: flex-end;
        .save-checkbox-wrapper {
          margin-right: 15px;
        }
      }
    }

    .key-info {
      padding: 10px 0px;
      @include atBig {
        padding: 10px 10px;
      }
    }
    .login-header {
      background-color: $mediumBlue;
      border-radius: 8px;
      box-shadow: 4px 4px $mainBlue;
      padding: 10px 20px;
      gap: 15px;
      margin-bottom: 30px;
      @include atBig {
        display: flex;
        align-items: center;
      }
      p {
        color: $mainWhite;
        font-size: 16px;
        line-height: 22px;
        margin: 10px 10px 10px 10px;
      }
      button {
        background-color: $mainWhite;
        color: $mainBlue;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        border-radius: 8px;
        box-shadow: 2px 2px $mainRed;

        @include atBig {
          min-width: 200px;
        }
      }
    }
    .actions-footer {
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }
  }
}
